<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои сообщения</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/message.css">
</head>
<body>
<h1>Мои сообщения</h1>
<div class="field">
    {% for letter in received_message %}
        <div class="message">
            <div class="name">
                {{ sender.username }} {{ letter.date_message|date:'H:i:s' }}
            </div>
            <div class="text">
                {{ letter.text }}
            </div>
        </div>

    {% endfor %}messages.html
    <br>
    {% for letter in sent_message %}
        <div class="message">
            <div class="name">
                {{ user }} {{ letter.date_message|date:'H:i:s' }}<br>
            </div>
            <div class="text">
                {{ letter.text }}
            </div>
        </div>
        <br>
    {% endfor %}
</div>
</body>
</html>