<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Профиль юзера {{ current_user.username }}</h1>
Имя - {{ current_user.first_name }} <br>
Отправить пользователю сообщение
<form action="/add_message" method="post">
    <input type="text" id="text_message" name="text_message">
    <input type="hidden" id="user_from_id" name="user_from_id" value="{{ current_user.id }}">
    <button type="submit" id="submit">Отправить сообщение</button>
</form>
</body>
</html>